/* @font-face {
    font-family: 'sourceSans';
    src: local('../Fonts/source-sans-pro/SourceSansPro-Regular.otf');
}

body {
    font-family: 'sourceSans';
    font-size: 15px;
    padding: 0 20 0 20;
}

.review-total-sumcount {
    border-bottom: 1px solid grey;
    padding: 5 0 5 0;
}

.review-sum-paragraph {
    border-bottom: 1px solid grey;
    padding: 5 0 5 0;
}

#review-paragraph {
    max-width: 225px;
}
   */